{% extends "basic_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="jumbotron">
    {% if registered %}
      <h1>Thank you for registering</h1>
    {% else %}
      <h1>Register here!</h1>
      <h3>Fill out the form</h3>

      <!-- enctype='multipart/form-data' means that no characters will be
      encoded. that is why this type is used while uploading files to server.
      So multipart/form-data is used when a form requires binary data, like the
       contents of a file, to be uploaded. -->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input class="btn btn-primary" type="submit" name="" value="Register">
      </form>
    {% endif %}
  </div>
{% endblock %}
